<div class="main">
    
    <img src="~/images/barclays-logo.png" height="170" class="barclays-logo" />
    <h2>Credit Card <br /> Application Tracker</h2>


    <a asp-controller="Home" asp-action="Scan" id="newScan" class="new-scan-button btn btn-primary">
        <span class="fal fa-barcode-read fa-2x"></span>
    </a>

</div>
@*<div class="page-footer">
    page footer
</div>*@